blink
.env
__pycache__/
*.pyc   
models/
data/   
logs/
.vscode/
.DS_Store
.ipynb_checkpoints/
*.log   
*.sqlite3
*.ckpt
*.h5
*.pth
*.pt
*.csv
*.json              
*.xlsx
*.tar.gz
*.zip
.idea/
*.iml
coverage
